.log-conf {
    display: flex;
    flex-direction: column;
    margin: 0 12px 12px 12px;
    background: white;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.active-conf-log {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    overflow-y: auto;
    padding: 4px;
}

.active-conf-log-header {
    display: flex;
    padding: 0 4px;
    span {
        margin: 4px;
    }
}

.conf-log {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.54);
    span {
        margin: 4px;
    }
}

.media-type {
    min-width: 135px;
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.organizer-sip {
    min-width: 120px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.enterprise-id {
    min-width: 50px;
    width: 50px;
}

.user-at-host {
    min-width: 240px;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mcu-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.id {
    min-width: 36px;
}
.server {
    min-width: 115px;
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collect-time {
    min-width: 150px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conf-id{
    min-width: 65px;
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.organizer-id{
    min-width: 80px;
    width: 80px;
}

.part-id{
    min-width: 45px;
    width: 45px;
}

.enterprise-id{
    min-width: 95px;
    width: 95px;
}

.join-time{
    min-width: 150px;
    width: 150px;
}

.my-property{
    min-width: 100px;
    width: 100px;
}